@keyframes blink {
  0% {
    height: .5em; }
  4% {
    height: 0em; }
  8%, 100% {
    height: .5em; } }

@keyframes flap {
  0% {
    bottom: -5%;
    transform: skew(-45deg) rotate(45deg); }
  50% {
    bottom: 0%;
    transform: skew(-50deg) rotate(45deg); }
  100% {
    bottom: -5%;
    transform: skew(-45deg) rotate(45deg); } }

@keyframes flapBack {
  0% {
    top: 56%;
    transform: scaleX(-1) skew(-58deg) rotate(38deg); }
  50% {
    top: 61%;
    transform: scaleX(-1) skew(-53deg) rotate(38deg); }
  100% {
    top: 56%;
    transform: scaleX(-1) skew(-58deg) rotate(38deg); } }

@keyframes flameodd {
  0%, 100% {
    width: 0%;
    height: 0%; }
  25% {
    width: 100%;
    height: 100%; }
  0% {
    background-color: #ffdc01;
    z-index: 1000000; }
  40% {
    background-color: #ffac01;
    z-index: 1000000; }
  100% {
    background-color: #f76379;
    z-index: -10; }
  0% {
    right: 0%;
    bottom: 0%; }
  25% {
    right: 1%;
    bottom: 2%; }
  100% {
    right: 150%;
    bottom: 170%; } }

@keyframes flameeven {
  0%, 100% {
    width: 0%;
    height: 0%; }
  25% {
    width: 100%;
    height: 100%; }
  0% {
    background-color: #ffdc01;
    z-index: 1000000; }
  40% {
    background-color: #ffac01;
    z-index: 1000000; }
  100% {
    background-color: #f76379;
    z-index: -10; }
  0% {
    right: 0%;
    bottom: 0%; }
  25% {
    right: 2%;
    bottom: 1%; }
  100% {
    right: 170%;
    bottom: 150%; } }

.o-timer {
  height: 20px;
  width: 320px;
  background-color: #a7a7a7;
  display: flex;
  justify-content: center;
  align-self: center; }
  .o-timer__bracket {
    width: 310px;
    height: 10px;
    display: flex;
    justify-content: flex-end;
    align-self: center; }
  .o-timer__timeLeft {
    width: 310px;
    height: 10px;
    background-color: #f76379;
    position: absolute; }
  .o-timer__timePassed {
    background-color: #a3cfb1;
    width: 310px;
    height: 10px;
    position: absolute; }
