@import './COLORS.scss';

@keyframes blink {
    0% {
        height: .5em;
    }

    50% {
        height: 0em;
    }

    100% {
        height: .5em;
    }
}
@keyframes flap {
    0% {
        bottom: -5%;
        transform: skew(-45deg)rotate(45deg);
    }
    50% {
        bottom: 0%;
        transform: skew(-50deg)rotate(45deg);
    }
    100% {
        bottom: -5%;
        transform: skew(-45deg)rotate(45deg);
    }
}
@keyframes flapPetal {
    0% {
        transform:translateX(-50%) rotate(20deg);
    }
    50% {
        transform:translateX(-55%) rotate(15deg);
    }
    100% {
        transform:translateX(-50%) rotate(20deg);
    }
}
@keyframes flameodd {
    0%, 100% {
       width:0%;
       height:0%;
    }
    25% {
       width:100%;
       height:100%;
    }
    0% {
       background-color:$COLOR_YELLOW;
       z-index:1000000;
    }
    40% {
       background-color:$COLOR_ORANGE;
       z-index:1000000;
    }
    100% {
       background-color:$COLOR_RED;
       z-index:-10;
    }
    0% {
       right:0%;
       bottom:0%;
    }
    25% {
       right:1%;
       bottom:2%;
    }
    100% {
       right:150%;
       bottom:170%;
    }
 }
 
 @keyframes flameeven {
    0%, 100% {
       width:0%;
       height:0%;
    }
    25% {
       width:100%;
       height:100%;
    }
    0% {
       background-color: $COLOR_YELLOW;
       z-index:1000000;
    }
    40% {
       background-color: $COLOR_ORANGE;
       z-index:1000000;
    }
    100% {
       background-color: $COLOR_RED;
       z-index:-10;
    }
    0% {
       right:0%;
       bottom:0%;
    }
    25% {
       right:2%;
       bottom:1%;
    }
    100% {
       right:170%;
       bottom:150%;
    }
 }

 
 @keyframes bubbling {
    0%, 100% {
       width:0%;
       height:0%;
    }
    25% {
       width:120%;
       height:120%;
    }
    0% {
       background-color:$COLOR_BLUE;
       z-index:1000000;
       opacity: 0;
    }
    40% {
       background-color:$COLOR_BLUE;
       z-index:1000000;
       opacity: 1;
    }
    100% {
       background-color:$COLOR_WHITE;
       z-index:-10;
    }
    0% {
       right:25%;
       bottom:25%;
    }
    25% {
        right:-26%;
        bottom:-26%;
    }
    100% {
        right: 130%;
        bottom: 130%;
    }
 }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}