// Darks
$COLOR_0BLACK: #555555;
$COLOR_1BLACK: #34383b;
$COLOR_BLACK: #282B2D;
$COLOR_3BLACK: #1C1C1E;
$COLOR_4BLACK: #191919;

$COLOR_GRAY: #676767;
$COLOR_0GRAY: lighten($COLOR_GRAY, 50);
$COLOR_1GRAY: lighten($COLOR_GRAY, 25);
$COLOR_3GRAY: darken($COLOR_GRAY, 25);
$COLOR_4GRAY: darken($COLOR_GRAY, 50);

$COLOR_WHITE: #ffffff;
$COLOR_GREEN: #a3cfb1;
$COLOR_CORN: #f0d3a4;
$COLOR_ORANGE: #ffac01;
$COLOR_YELLOW: #ffdc01;
$COLOR_RED: #f76379;
$COLOR_PURPLE: #debee8;
$COLOR_PINK: #f5bfd0;
$COLOR_BLUE: #80d2ff;

$COLOR_0RED: lighten($COLOR_RED, 50);
$COLOR_1RED: lighten($COLOR_RED, 25);
$COLOR_3RED: darken($COLOR_RED, 25);
$COLOR_4RED: darken($COLOR_RED, 50);

$COLOR_0GREEN: lighten($COLOR_GREEN, 50);
$COLOR_1GREEN: lighten($COLOR_GREEN, 25);
$COLOR_3GREEN: darken($COLOR_GREEN, 25);
$COLOR_4GREEN: darken($COLOR_GREEN, 50);

$COLOR_0BLUE: lighten($COLOR_BLUE, 50);
$COLOR_1BLUE: lighten($COLOR_BLUE, 25);
$COLOR_3BLUE: darken($COLOR_BLUE, 25);
$COLOR_4BLUE: darken($COLOR_BLUE, 50);

//
// Palettes
//
$TIMER_BG: $COLOR_1GRAY;
$TIMER_LEFT: $COLOR_RED;
$TIMER_PASSED: $COLOR_GREEN;