@import '../../configs/SHARED.scss';

.c-bud {
    font-size: 1rem;
    $SIZE: 4em;
    
    width: $SIZE + 1;
    height: $SIZE + 1;
    position: relative;
    left: 0;
    top: 0;

    &__head {
        width: $SIZE;
        height: $SIZE;
        border-radius: 50%;
        background-color: $COLOR_4GREEN;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__fronthead {
        width: $SIZE - .5;
        height: $SIZE - .5;
        border-radius: 50%;
        background-color: $COLOR_GREEN;
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__frontshadow {
        overflow: hidden;
        width: $SIZE - .5;
        height: $SIZE - .5;
        border-radius: 50%;
        background-color: $COLOR_3GREEN;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    %eye-shared {
        width: $SIZE/8;
        height: $SIZE/8;
        border-radius: 50%;
        background-color: $COLOR_4GREEN;
        animation: blink 3s infinite ease-in;
    }
    &__lefteye {
        @extend %eye-shared;
        position: absolute;
        left: 35%;
        top: 60%;
        transform: translate(-50%, -50%);
    }
    &__righteye {
        @extend %eye-shared;
        position: absolute;
        left: 65%;
        top: 60%;
        transform: translate(-50%, -50%);
    }
    &__shadow {
        width: $SIZE;
        height: $SIZE / 4;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        position: absolute;
        left: 50%;
        top: 70%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
    &__mouth {
        height: $SIZE;
        width: $SIZE / 4;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -100%);
        border: .1em solid $COLOR_4GREEN;
    }
    &__mouthcontainer {
        height: $SIZE / 6;
        width: $SIZE / 4;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
    }
    &__leaves{
        position: absolute;
        bottom: 70%;
        left: 50%;
        width: 70%;
        height: 70%;
        transform:translateX(-50%);
    }
    &__leaf {
        position: absolute;
        right: -37%;
        bottom: -5%;
        width: 100%;
        height: 50%;
        background-color: $COLOR_3GREEN;
        border-radius: .25em;
        transform: skew(-45deg)rotate(45deg);
        animation: flap 2.5s ease infinite;

        &:nth-child(2n) {
            transform: scaleX(-1) skew(-58deg) rotate(38deg);
            right: 50%;
            top: 56%;
            width: 80%;
            height: 30%;
            background-color: $COLOR_3GREEN;
            animation: flapBack 2.5s ease infinite;
        }
    }
}
