@keyframes blink {
  0% {
    height: .5em; }
  4% {
    height: 0em; }
  8%, 100% {
    height: .5em; } }

@keyframes flap {
  0% {
    bottom: -5%;
    transform: skew(-45deg) rotate(45deg); }
  50% {
    bottom: 0%;
    transform: skew(-50deg) rotate(45deg); }
  100% {
    bottom: -5%;
    transform: skew(-45deg) rotate(45deg); } }

@keyframes flapBack {
  0% {
    top: 56%;
    transform: scaleX(-1) skew(-58deg) rotate(38deg); }
  50% {
    top: 61%;
    transform: scaleX(-1) skew(-53deg) rotate(38deg); }
  100% {
    top: 56%;
    transform: scaleX(-1) skew(-58deg) rotate(38deg); } }

@keyframes flameodd {
  0%, 100% {
    width: 0%;
    height: 0%; }
  25% {
    width: 100%;
    height: 100%; }
  0% {
    background-color: #ffdc01;
    z-index: 1000000; }
  40% {
    background-color: #ffac01;
    z-index: 1000000; }
  100% {
    background-color: #f76379;
    z-index: -10; }
  0% {
    right: 0%;
    bottom: 0%; }
  25% {
    right: 1%;
    bottom: 2%; }
  100% {
    right: 150%;
    bottom: 170%; } }

@keyframes flameeven {
  0%, 100% {
    width: 0%;
    height: 0%; }
  25% {
    width: 100%;
    height: 100%; }
  0% {
    background-color: #ffdc01;
    z-index: 1000000; }
  40% {
    background-color: #ffac01;
    z-index: 1000000; }
  100% {
    background-color: #f76379;
    z-index: -10; }
  0% {
    right: 0%;
    bottom: 0%; }
  25% {
    right: 2%;
    bottom: 1%; }
  100% {
    right: 170%;
    bottom: 150%; } }

.c-bud {
  font-size: 1rem;
  width: 5em;
  height: 5em;
  position: relative;
  left: 0;
  top: 0; }
  .c-bud__head {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: #274c33;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .c-bud__fronthead {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: #a3cfb1;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .c-bud__frontshadow {
    overflow: hidden;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: #539f6b;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .c-bud .c-bud__lefteye, .c-bud .c-bud__righteye {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #274c33;
    animation: blink 3s infinite ease-in; }
  .c-bud__lefteye {
    position: absolute;
    left: 35%;
    top: 60%;
    transform: translate(-50%, -50%); }
  .c-bud__righteye {
    position: absolute;
    left: 65%;
    top: 60%;
    transform: translate(-50%, -50%); }
  .c-bud__shadow {
    width: 4em;
    height: 1em;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    position: absolute;
    left: 50%;
    top: 70%;
    border-radius: 50%;
    transform: translate(-50%, -50%); }
  .c-bud__mouth {
    height: 4em;
    width: 1em;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    border: 0.1em solid #274c33; }
  .c-bud__mouthcontainer {
    height: 0.66667em;
    width: 1em;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%); }
  .c-bud__leaves {
    position: absolute;
    bottom: 70%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translateX(-50%); }
  .c-bud__leaf {
    position: absolute;
    right: -37%;
    bottom: -5%;
    width: 100%;
    height: 50%;
    background-color: #539f6b;
    border-radius: .25em;
    transform: skew(-45deg) rotate(45deg);
    animation: flap 2.5s ease infinite; }
    .c-bud__leaf:nth-child(2n) {
      transform: scaleX(-1) skew(-58deg) rotate(38deg);
      right: 50%;
      top: 56%;
      width: 80%;
      height: 30%;
      background-color: #539f6b;
      animation: flapBack 2.5s ease infinite; }
