@keyframes blink {
  0% {
    height: .5em; }
  50% {
    height: 0em; }
  100% {
    height: .5em; } }

@keyframes flap {
  0% {
    bottom: -5%;
    transform: skew(-45deg) rotate(45deg); }
  50% {
    bottom: 0%;
    transform: skew(-50deg) rotate(45deg); }
  100% {
    bottom: -5%;
    transform: skew(-45deg) rotate(45deg); } }

@keyframes flapPetal {
  0% {
    transform: translateX(-50%) rotate(20deg); }
  50% {
    transform: translateX(-55%) rotate(15deg); }
  100% {
    transform: translateX(-50%) rotate(20deg); } }

@keyframes flameodd {
  0%, 100% {
    width: 0%;
    height: 0%; }
  25% {
    width: 100%;
    height: 100%; }
  0% {
    background-color: #ffdc01;
    z-index: 1000000; }
  40% {
    background-color: #ffac01;
    z-index: 1000000; }
  100% {
    background-color: #f76379;
    z-index: -10; }
  0% {
    right: 0%;
    bottom: 0%; }
  25% {
    right: 1%;
    bottom: 2%; }
  100% {
    right: 150%;
    bottom: 170%; } }

@keyframes flameeven {
  0%, 100% {
    width: 0%;
    height: 0%; }
  25% {
    width: 100%;
    height: 100%; }
  0% {
    background-color: #ffdc01;
    z-index: 1000000; }
  40% {
    background-color: #ffac01;
    z-index: 1000000; }
  100% {
    background-color: #f76379;
    z-index: -10; }
  0% {
    right: 0%;
    bottom: 0%; }
  25% {
    right: 2%;
    bottom: 1%; }
  100% {
    right: 170%;
    bottom: 150%; } }

@keyframes bubbling {
  0%, 100% {
    width: 0%;
    height: 0%; }
  25% {
    width: 120%;
    height: 120%; }
  0% {
    background-color: #80d2ff;
    z-index: 1000000;
    opacity: 0; }
  40% {
    background-color: #80d2ff;
    z-index: 1000000;
    opacity: 1; }
  100% {
    background-color: #ffffff;
    z-index: -10; }
  0% {
    right: 25%;
    bottom: 25%; }
  25% {
    right: -26%;
    bottom: -26%; }
  100% {
    right: 130%;
    bottom: 130%; } }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

.c-character {
  font-size: 1rem;
  width: 5em;
  height: 5em;
  position: relative;
  left: 0;
  top: 0; }
  .c-character__head {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: #555555;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .c-character__fronthead {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: #e7e7e7;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .c-character__frontshadow {
    overflow: hidden;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: #a7a7a7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .c-character .c-character__lefteye, .c-character .c-character__righteye {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #34383b; }
  .c-character__lefteye {
    position: absolute;
    left: 35%;
    top: 60%;
    transform: translate(-50%, -50%); }
  .c-character__righteye {
    position: absolute;
    left: 65%;
    top: 60%;
    transform: translate(-50%, -50%); }
  .c-character__shadow {
    width: 4em;
    height: 1em;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    position: absolute;
    left: 50%;
    top: 70%;
    border-radius: 50%;
    transform: translate(-50%, -50%); }

.c-character--blink .c-character__lefteye, .c-character--blink .c-character__righteye {
  animation: blink .25s infinite ease-in; }
