@keyframes blink {
  0% {
    height: .5em; }
  4% {
    height: 0em; }
  8%, 100% {
    height: .5em; } }

@keyframes flap {
  0% {
    bottom: -5%;
    transform: skew(-45deg) rotate(45deg); }
  50% {
    bottom: 0%;
    transform: skew(-50deg) rotate(45deg); }
  100% {
    bottom: -5%;
    transform: skew(-45deg) rotate(45deg); } }

@keyframes flapBack {
  0% {
    top: 56%;
    transform: scaleX(-1) skew(-58deg) rotate(38deg); }
  50% {
    top: 61%;
    transform: scaleX(-1) skew(-53deg) rotate(38deg); }
  100% {
    top: 56%;
    transform: scaleX(-1) skew(-58deg) rotate(38deg); } }

@keyframes flameodd {
  0%, 100% {
    width: 0%;
    height: 0%; }
  25% {
    width: 100%;
    height: 100%; }
  0% {
    background-color: #ffdc01;
    z-index: 1000000; }
  40% {
    background-color: #ffac01;
    z-index: 1000000; }
  100% {
    background-color: #f76379;
    z-index: -10; }
  0% {
    right: 0%;
    bottom: 0%; }
  25% {
    right: 1%;
    bottom: 2%; }
  100% {
    right: 150%;
    bottom: 170%; } }

@keyframes flameeven {
  0%, 100% {
    width: 0%;
    height: 0%; }
  25% {
    width: 100%;
    height: 100%; }
  0% {
    background-color: #ffdc01;
    z-index: 1000000; }
  40% {
    background-color: #ffac01;
    z-index: 1000000; }
  100% {
    background-color: #f76379;
    z-index: -10; }
  0% {
    right: 0%;
    bottom: 0%; }
  25% {
    right: 2%;
    bottom: 1%; }
  100% {
    right: 170%;
    bottom: 150%; } }

.c-spark {
  font-size: 1rem;
  width: 5em;
  height: 5em;
  position: relative;
  left: 0;
  top: 0; }
  .c-spark__head {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: #570411;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .c-spark__fronthead {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: #f76379;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .c-spark__frontshadow {
    overflow: hidden;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: #d00b28;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .c-spark .c-spark__lefteye, .c-spark .c-spark__righteye {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #570411;
    animation: blink 3s infinite ease-in; }
  .c-spark__lefteye {
    position: absolute;
    left: 35%;
    top: 60%;
    transform: translate(-50%, -50%); }
  .c-spark__righteye {
    position: absolute;
    left: 65%;
    top: 60%;
    transform: translate(-50%, -50%); }
  .c-spark__shadow {
    width: 4em;
    height: 1em;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    position: absolute;
    left: 50%;
    top: 70%;
    border-radius: 50%;
    transform: translate(-50%, -50%); }
  .c-spark__mouth {
    height: 4em;
    width: 1em;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    border: 0.1em solid #570411; }
  .c-spark__mouthcontainer {
    height: 0.66667em;
    width: 1em;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%); }
  .c-spark__flames {
    position: absolute;
    bottom: 30%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translateX(-50%) rotate(45deg); }
  .c-spark__flame {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 0%;
    height: 0%;
    background-color: #ffdc01;
    border-radius: 1vw; }
    .c-spark__flame:nth-child(2n + 1) {
      animation: flameodd 1.5s ease-in infinite; }
    .c-spark__flame:nth-child(2n) {
      animation: flameeven 1.5s ease-in infinite; }
    .c-spark__flame:nth-child(1) {
      animation-delay: 0s; }
    .c-spark__flame:nth-child(2) {
      animation-delay: 0.375s; }
    .c-spark__flame:nth-child(3) {
      animation-delay: 0.75s; }
    .c-spark__flame:nth-child(4) {
      animation-delay: 1.125s; }
