@import '../../configs/COLORS.scss';

.c-drop {
    font-size: 1rem;
    $SIZE: 4em;
    
    width: $SIZE + 1;
    height: $SIZE + 1;
    position: relative;
    left: 0;
    top: 0;
    $ANIMATIONTIME: 3s;

    &__head {
        width: $SIZE;
        height: $SIZE;
        border-radius: 50%;
        background-color: $COLOR_4BLUE;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__fronthead {
        width: $SIZE - .5;
        height: $SIZE - .5;
        border-radius: 50%;
        background-color: $COLOR_BLUE;
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__frontshadow {
        overflow: hidden;
        width: $SIZE - .5;
        height: $SIZE - .5;
        border-radius: 50%;
        background-color: $COLOR_3BLUE;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    %eye-shaBLUE {
        width: $SIZE/8;
        height: $SIZE/8;
        border-radius: 50%;
        background-color: $COLOR_4BLUE;
    }
    &__lefteye {
        @extend %eye-shaBLUE;
        position: absolute;
        left: 35%;
        top: 60%;
        transform: translate(-50%, -50%);
    }
    &__righteye {
        @extend %eye-shaBLUE;
        position: absolute;
        left: 65%;
        top: 60%;
        transform: translate(-50%, -50%);
    }
    &__shadow {
        width: $SIZE;
        height: $SIZE / 4;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        position: absolute;
        left: 50%;
        top: 70%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    &__mouth {
        height: $SIZE;
        width: $SIZE / 4;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -100%);
        border: .1em solid $COLOR_4BLUE;
    }
    &__mouthcontainer {
        height: $SIZE / 6;
        width: $SIZE / 4;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
    }

    &__droplets {
        position: absolute;
        bottom: 0%;
        left: 50%;
        width: 100%;
        height: 100%;
        // background-color:$BLUE;
        transform: translateX(-50%);
    }
    &__droplet {
        position: absolute;
        left: 50%;
        bottom:0%;
        width:90%;
        height:90%;
        animation: fizzing $ANIMATIONTIME ease-out infinite;

        border-radius: 0 6em 6em;
        transform: translateX(-50%) rotate(45deg);
        &:nth-child(2) {
            bottom: 10%;
            width: 90%;
            height: 90%;
            animation-delay:$ANIMATIONTIME/2;
        }
    }

    // &__mouth {
    //     height: $SIZE;
    //     width: $SIZE / 4;
    //     border-radius: 50%;
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    //     transform: translate(-50%, -100%);
    //     background-color: BLUE;
    // }
    // &__mouthcontainer {
    //     height: $SIZE / 6;
    //     width: $SIZE / 4;
    //     overflow: hidden;
    //     position: absolute;
    //     left: 50%;
    //     top: 75%;
    //     transform: translate(-50%, -50%);
    // }
}

.c-drop--blink {

    .c-drop {

        &__lefteye,
        &__righteye, {
            animation: blink .25s infinite ease-in;
        }

    }

}

@keyframes fizzing {
    0% {
        bottom: 17%;
        width: 90%;
        height: 90%;
        background-color: $COLOR_3BLUE;
        transform: scaleY(1.05) translateX(-50%) rotate(45deg);
    }
    50% {
        bottom: 30%;
        width:60%;
        height:60%;
        background-color: $COLOR_BLUE;
        z-index: 9999;
    }
    100% {
        bottom: 17%;
        width: 90%;
        height: 90%;
        background-color: $COLOR_3BLUE;
        transform: scaleY(1.05) translateX(-50%) rotate(45deg);
    }
 }